
img {
	width: 500px;
	display:block;
	text-align:center;		
}

img {
	width: 500px;
	display:block;
	text-align:center;		
}

img {
	width: 1000px;
	display:block;
	text-align:center;		
}
img {
	width: 500px;
	display:block;
	text-align:center;		
}
img {
	width: 500px;
	display:block;
	text-align:center;		
}
img {
	width: 500px;
	display:block;
	text-align:center;		
}
img {
	width: 500px;
	display:block;
	text-align:center;		
}